polymer-element(name='invader-playlist-item' attributes='item index')
  template
    li(on-click='{{clicked}}') {{item.title}}

    link(rel='stylesheet' href='./invader-playlist-item.css')
    script(src='./invader-playlist-item.js')
